.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px;
}
.actions {
  width: 100%;
  background: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 16px;
  margin-bottom: 8px;
  border-top-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.actions > button {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.actions > button:hover,
.actions > button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.actions > button:hover {
  transform: translateY(-1px);
}

.actions > button:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.actions > button[disabled] {
  background-color: #ccc;
}

.actions > button[disabled]:hover {
  transform: translateY(0);
  align-items: center;
  background-color: #ccc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: not-allowed;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 48px);
}

@keyframes l-square {
  0% {
    transform: scale(1.1300000000000001);
  }
  100% {
    transform: scale(1);
  }
}
.l-square div {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 33px;
  left: 33px;
  background: #020621;
  animation: l-square 0.7s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation-delay: -0.3s;
}
.l-square div:nth-child(2) {
  top: 32.48px;
  left: 117.74px;
  background: #2bde73;
  animation-delay: -0.13s;
}
.l-square div:nth-child(3) {
  top: 118px;
  left: 33px;
  background: #2bde73;
  animation-delay: 0s;
}
.l-square div:nth-child(4) {
  top: 118px;
  left: 118px;
  background: #020621;
  animation-delay: -0.07s;
}
.loader-cube {
  width: 203px;
  height: 203px;
  display: inline-block;
  overflow: hidden;
  background: #f1f2f3;
}
.l-square {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.l-square div {
  box-sizing: content-box;
}
